.song-detail{
    background-color: #1E1E1E;
}

.song-no{
    font-size: 25px;
    background-color: #181818;
    padding-right: 20px;
}

.song-artist-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.song-artist-name1{
    font-size: 20px;
}

.song-artist-name2{
    font-size: 13px;
}

.song-name{
    display: flex;
    gap: 20px;
    text-align: start;
}

.song-img{
    height: 65px;
    width: 65px;
}

.song-img img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.song-like{
    display: flex;
    align-items: center;
    gap: 15px;
}

.heart{
    font-size: 20px;
    cursor: pointer;
}