.artist-container{
    margin-block: 2rem;
    position: relative;
}
.artist-box{
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 20px;
}
.artists{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 185px;
    min-width: 185px;
}
.artists img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
.artists p{
    margin-top: 20px;
    color: white;
}

@media (max-width: 800px) {
    .artists{
        min-width: 140px;
        min-height: 140px;
    }
    .artists p{
        font-size: 12px;
    }
}
@media (max-width: 480px) {
    .artists{
        min-width: 110px;
    }
    .artists p{
        font-size: 11px;
    }
}
