.music-container{
    margin-block: 2rem;
    position: relative;
}
.music-list-container{
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    gap: 20px;
}
.music-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    background-color: #1F1F1F;
    border-radius: 8px;
}
.music-image{
    height: 250px;
    min-width: 360px;
}
.music-image img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.music-list-title{
    color: white;
    font-size: 22px;
}
.music-list-detail{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}