.Geners-list{
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    overflow-x: auto; 
    color: white;
    scroll-behavior: smooth;
    margin-bottom: 26px;
}

.Geners-list::-webkit-scrollbar {
    display: none;
}

.mood-playlist-container{
    margin-block: 4rem;
}