.dd{
    width: 100%;
    overflow: hidden;
    max-width: 1400px;
    margin-inline: auto;
}

.Home-container{
    /* max-width: 1400px; */
    margin-inline: auto;
    padding-inline: 26px;
    margin-bottom: 24px;
}

.Top-container{
    color: white;
    overflow: hidden;
    width: 100%;
    height: 600px;
    border-radius: 35px;
    background: url('../../../public/main_girl_img.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.contant-box{
    max-width: 360px;
    margin-left: 26px;
}

.contant-box .buttons{
    display: flex;
    gap: 14px;
    margin-top: 18px;
}

.para-text{
    margin-top: 28px;
    font-size: 14px;
    line-height: 28px;
}

.top-header-text{
    font-size: 2.5rem;
    line-height: 58px;
}

.middle-text{
    color: var(--bluecolor);
}

/*************** lists styles **************/

.list-section-header{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.list-section-header span{
    color: var(--bluecolor);
}

.second-container{
    margin-block: 48px;
    overflow: hidden;
    padding-inline: 0px;
}

/************** Weeklt-list **************/

.weekly-list-box{
    display: flex;
    position: relative;
    flex-direction: column;
}

.Weekly-list{
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    overflow-x: auto; 
    color: white;
    scroll-behavior: smooth;
}

.Weekly-list::-webkit-scrollbar {
    display: none;
}

table{
    color: white;
    width: 100%;
    margin-block: 26px;
    border-collapse: separate;
    border-spacing: 0 20px;
}

tr, td{
    text-align: center;
}

tr{
    border: 1px solid white;
}

.song-detail{
    background-color: #1E1E1E;
}

.song-no{
    font-size: 25px;
    background-color: #181818;
    padding-right: 20px;
}

.song-artist-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.song-artist-name1{
    font-size: 20px;
}

.song-artist-name2{
    font-size: 13px;
}

.song-name{
    display: flex;
    gap: 20px;
    text-align: start;
}

.song-img{
    height: 65px;
    width: 65px;
}

.song-img img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
}

.song-like{
    display: flex;
    align-items: center;
    gap: 15px;
}

.heart{
    font-size: 30px;
    color: var(--bluecolor);
}