.Albums-container{
    margin-inline: 26px;
    padding-bottom: 48px;
    margin-bottom: 24px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: linear-gradient(90deg, #153355, #113141, #0c222c);
}

.main-albums{   
    position: relative;
    box-shadow: 0px 14px 25px 4px black;
    border-radius: 12px;
}

.album-top-container{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #153355, #113141, #0c222c);
    padding: 30px;
    color: white;
    border-radius: 12px;
}

/* main content css */
.album-top-left-container{
    display: flex;
    width: 100%;
    margin-top: 40px;
    gap: 30px;
}

.album-img{
    min-width: 270px;
    height: 100%;
}

.album-img img{
    width: 100%;
    height: 100%;
}

.album-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    margin-block : 20px;
}

.album-content-bottom-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.album-content-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
}

.album-bottom-dot{
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background-color: var(--bluecolor);
}

.album-play-content{
    display: flex;
    align-items: end;
}
.album-play{
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    cursor: pointer;
    color: var(--bluecolor);
}

.play-btn{
    font-size: 45px;
}

@media (max-width: 1070px) {
    .secondary-navbar{
        padding-block: 10px;
    }
}
@media (max-width: 800px) {
    .Albums-container{
        margin-inline: 14px;
    }
    .album-img{
        min-width: 185px;
    }
    .play-all{
        display: none;
    }
}

@media (max-width: 600px) {
    .album-top-container{
        padding: 10px;
    }
    .album-img{
        min-width: 100px;
    }
    .album-top-left-container{
        margin-top: 20px;
        gap: 15px;
    }
    .trending-detail{
        display: none;
    }
    .album-content-bottom-main{
        gap: 15px;
    }
    .album-content-bottom{
        gap: 10px;
    }
    .play-btn{
        font-size: 30px;
    }
}