.Albums-container{
    margin-inline: 26px;
    padding-bottom: 48px;
    margin-bottom: 24px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background: linear-gradient(90deg, #1171E2, #0d87c0, #326d89);
}

.main-albums{   
    box-shadow: 0px 14px 25px 4px black;
    border-radius: 12px;
}

.album-top-container{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #1171E2, #0d87c0, #326d89);
    padding: 30px;
    color: white;
    border-radius: 12px;
}

/* secondary navbar css */
.secondary-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 18px;
    padding-block: 18px;
}

.secondary-navbar-links{
    display: flex; 
    align-items: center;
    gap: 16px;
    font-size: 18px;
}

.secondary-navbar-links a{
    text-decoration: none;
    color: white;
}

.secondary-navbar-links a:hover{
    color: rgb(76, 159, 218)
}

.leftArrowBox{
    width: 20px;
    height: 20px;
}

.leftArrowBox img{
    cursor: pointer;
    width: 100%;
    height: 100%;
}


/* main content css */
.album-top-left-container{
    display: flex;
    gap: 30px;
}

.album-img{
    max-width: 270px;
    height: 100%;
}

.album-img img{
    width: 100%;
    height: 100%;
}

.album-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    max-width: 330px;
    margin-block : 20px;
}

.album-content-bottom{
    display: flex;
    align-items: center;
    gap: 20px;
}

.album-bottom-dot{
    height: 6px;
    width: 6px;
    border-radius: 100%;
    background-color: var(--bluecolor);
}

.album-play-content{
    display: flex;
    align-items: end;
}
.album-play{
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    color: var(--bluecolor);
}

.play-btn{
    font-size: 45px;
}

@media (max-width: 1070px) {
    .secondary-navbar{
        padding-block: 10px;
    }
}